# Python specific
.env
__pycache__

# Database
habits.db
habits.db-shm
habits.db-wal

# Environment
.idea
.venv

# App files
bike_files/*.fit
cronometer/*.csv
apple/*.xml
apple/*.csv
apple/workout-routes
apple/tristan_data